---
layout: default
---

{% assign cv = site.data.cv %}
{% include cv/intro.html %}

<main id="main" class="page-content" aria-label="Content">
  <!--
  <div class="inner">
    <div class="entry-wrap">
      <div class="entry-content">
        {{ content }}
      </div>
      <aside class="entry-sidebar">
        {% include author %}
        {% if author_picture %}
          <img class="author-picture" src="{{ author_picture }}" alt="{{ author_name }}" style="margin: 0px width:300px;">
        {% endif %}
      </aside>
    </div>
    <div>
      <div class="entries">
        {% include cv/basics.html %}
        {% include cv/work.html %}
        {% include cv/volunteer.html %}
        {% include cv/education.html %}
        {% include cv/awards.html %}
        {% include cv/publications.html %}
        {% include cv/skills.html %}
        {% include cv/languages.html %}
        {% include cv/interests.html %}
        {% include cv/references.html %}
      </div>
    </div>
  </div>
  -->
  <div class="index inner">
    <div>{{ content }}</div>
    <div>
      <div class="entries">
        {% include cv/basics.html %}
        {% include cv/work.html %}
        {% include cv/volunteer.html %}
        {% include cv/education.html %}
        {% include cv/awards.html %}
        {% include cv/publications.html %}
        {% include cv/skills.html %}
        {% include cv/languages.html %}
        {% include cv/interests.html %}
        {% include cv/references.html %}
      </div>
    </div>
  </div>


  <!--original
  <div class="index inner">
    <div>{{ content }}</div>
    <div>
      <div class="entries">
        {% include cv/basics.html %}
        {% include cv/work.html %}
        {% include cv/volunteer.html %}
        {% include cv/education.html %}
        {% include cv/awards.html %}
        {% include cv/publications.html %}
        {% include cv/skills.html %}
        {% include cv/languages.html %}
        {% include cv/interests.html %}
        {% include cv/references.html %}
      </div>
    </div>
  </div>
  -->
</main>
