---
layout: default
---

{% assign cv = site.data.cv %}
{% include cv/intro.html %}

<!--
{% if cv.basics.summary %}
  <div class="summary">
    {{ cv.basics.summary | markdownify }}
  </div>
{% endif %}
-->

<main id="main" class="page-content" aria-label="Content">
  <div class="container">
    <div>
      <img class="author-picture" src="{{ cv.basics.picture }}" alt="{{ cv.basics.name }}" style="max-width: 300px;">
    </div>
    <div>
      {{ cv.basics.summary | markdownify }}
    </div>
  </div>
  <br><br><br><br>
  <div class="index inner">
    <div>
      <div class="entries">
        {% include cv/basics.html %}
        {% include cv/work.html %}
        {% include cv/volunteer.html %}
        {% include cv/education.html %}
        {% include cv/awards.html %}
        {% include cv/publications.html %}
        {% include cv/skills.html %}
        {% include cv/languages.html %}
        {% include cv/interests.html %}
        {% include cv/references.html %}
      </div>
    </div>
  </div>
</main>
