---
layout: default
---


<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body, html {
  height: 100%;
  margin: 0;
}

.bg {
  /* The image used */
  background-image: url(tahoe.jpg);

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
</style>
</head>
<body>

<div class="bg"></div>

<p>This example creates a full page background image. Testing testing</p>

</body>
</html>

<!--
<main id="main" class="page-content" aria-label="Content">
  <div class="wrapper">
    <p class="p">Ryan Wong</p>
    <div class="btncontainer">
      <div class="btncontainerbox">
        <a href="https://ryanwonghc.github.io/about/" class="btn">About</a>
      </div>
      <div class="btncontainerbox">
        <a href="https://ryanwonghc.github.io/projects/" class="btn">Projects</a>
      </div>
    </div>
  </div>
</main>
-->
