---
layout: default
---

<main id="main" class="page-content" aria-label="Content">
  <div class="wrapper">
    <p class="p">Ryan Wong</p>
    <a href="https://ryanwonghc.github.io/about/" class="btn">About</a>
    <a href="https://ryanwonghc.github.io/projects/" class="btn">Projects</a>
  </div>
</main>


<!--
  actions:
    - label: "Download Resume"
      icon: download
      url: "https://drive.google.com/uc?id=16xq9qhqCw8WQrdQfiwXmV3zs8zcD6CF5&export=download"
    - label: "View Projects"
      icon: thinking
      url: "https://ryanwonghc.github.io/projects/"
      -->
